<h1>Add Recipe</h1>

<form action="/Recipes/New" method="post">
  <div class="">
    <label for="recipeName">Enter Recipe Name</label>
    <input type="text" name="recipeName" required>
  </div>
  <div class="">
    <label for="recipeRating">Enter Recipe Rating</label>
    <input type="number" name="recipeRating" required>
  </div>
  <select class="form-control" name="categoryName">
    @foreach (var category in Model)
    {
      <option>@category.GetName()</option>
    }
  </select>
  <button type="submit" class="">ADD</button>
</form>


<h3><a href="/">Home</a></h3>
