@{
  Layout = "_Layout";
}

<h1>Add Recipe</h1>

<form action="/Recipes/New" method="post">
  <div class="">
    <label for="recipeName">Enter Recipe Name</label>
    <input type="text" name="recipeName" required>
  </div>
  <div>
    Recipe Rating:
    <select class="" name="recipeRating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div>
    Category:
    <select class="" name="categoryName">
      @foreach (var category in Model)
      {
        <option>@category.GetName()</option>
      }
    </select>
  </div>
  <div>
    <button type="submit" class="">ADD</button>
  </div>
</form>


<h3><a href="/">Home</a></h3>
