@{
  Layout = "_Layout";
}

<h1>List of Recipes</h1>

@if(Model.Count == 0)
{
  <h2>No recipe found</h2>
}

<ul>
  @foreach (var recipe in Model)
  {
    <li>Recipe Name: <a href="/Recipes/@recipe.GetId()">@recipe.GetName()</a>; Recipe Category: @recipe.GetCategory().GetName(); Rating: @recipe.GetRating()</li>
  }
</ul>

<h3><a href="/">Home</a></h3>
