<h1>Search For Recipe</h1>

<form action="/Recipes/Search" method="post">
  <div class="">
    <label for=""></label>
    <input type="text" name="" value="">

  </div>

</form>

<h3><a href="/">Home</a></h3>
