<h1>Add Category</h1>

<form action="/Categories/New" method="post">
  <div class="">
    <label for="categoryName">Enter Category Name</label>
    <input type="text" name="categoryName" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>


<h3><a href="/">Home</a></h3>
