<h1>Piggglettts Recipe Box</h1>

<h3><a href="/Recipes">Recipe List</a></h3>
<h3><a href="/Categories">Category List</a></h3>
<h3><a href="/Recipes/New">Add New Recipe</a></h3>
<h3><a href="/Categories/New">Add New Category</a></h3>
<h3><a href="/Recipes/Search">Search For Recipe</a></h3>
